.newArrivals {
    margin-top: 50px;
    margin-left: 40px;
}
<!--cards-griding--


.container {
   
        height: 80%;  
   place-items: center;
   align-items: center;


}
.arrival-card-1{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    
}
  
  .arrival-cards {
   
    background-color: white;
       text-align: center;
       color: rgb(11, 11, 11);
       height: 80%;
       width: 100%;
       place-items: center;
      align-items: center;   
                 

    
    

  }
  .arrival-cards-img{
    width: 100%;
    aspect-ratio: 1/1;
    padding: 5%;
    object-fit: 100%;
    height: 60%;

  }

  
  .arrival-cards:hover {
   box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  
    transition: all 0.3s ease;
    transform: scale(1.01);
    color: black;

  }
 .arrival-cards-body {
    width: fit-content;
}
.arrival-cards-body h5{
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 14px;
}
.arrival-cards-body p{
    text-align: left;
    color: black;
    font-size: 10px;
}

.arrival-price-cost{
 margin-top: -2%;
  
}
.arrival-price-cost p{
    font-size: 20px;
    font-weight: 500;
    color: red;
}

.btn-cart{
    border-radius: 5px;
    width: 50%;
    height: 30px;
    font-size: 10px;
    margin-top:-15%;
    
}


  
  .span-full {
    grid-column: span 4;
  }


 ul{
    list-style-type: none;
    text-align: center;
    text-decoration: none;

}
   ul li{

  
    text-align: center;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    justify-self: center;
    text-align: end;
    margin-left: 5%;

}

 ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    justify-content: space-between;
    justify-self: center;
    text-align: end;
    ;

}

ul li a:hover{
    background-color: #f7f7f7;
    color: rgb(50, 190, 205);
    border-radius: 5px solid yellow;
    border-color: yellow;
    padding: 10px;
    padding: 10px;
    transition: all 0.3s ease ;
    transform: scale(1.01) ;
    
}

    
.vertical-line {
/* Adjust thickness and color as needed */
            height: 200px; /* Adjust height as needed */
            margin: 0 auto;
            width: 20px;
            position:absolute;
          
          }

          @media screen and (max-width: 400px) {
           
            
            .arrival-card-1{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            
          }
          @media screen and (max-width: 600px) and (min-width: 400px) {
                    .arrival-card-1 {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        height: 80%;  
                       place-items: center;
                       align-items: center;
                    }


          }