.newArrivals {
    margin-top: 50px;
    
}
<!--cards-griding--


.container {
   
        height: 80%;  
   place-items: center;
   align-items: center;


}
.arrival-card-1{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    
    
    
}
  
  .arrival-cards {
   
    background-color: #ffffff;  
       text-align: center; ;
       height: 100%;
       width: 100%;
       place-items: center;
      align-items: center;    
      border-radius: 1%;
      border: 3px solid #ffffff;

  color:#001f3f;
      cursor: pointer;
}

  .arrival-cards:hover {
    box-shadow:  0 0 10px 0 #ffffff;
    filter: drop-shadow(0 0 10px #001f3f);
         border-radius: 5px;
         background-color: #ffffff;
        transition: all 0.3s ease;
     transform: scale(1.01);
     z-index: 1;

   
   }
  .arrival-cards-img{
    width: 100%;
    aspect-ratio: 1/1;
    padding: 5%;
    object-fit: 100%;
    height: 60%;

  }

  

 .arrival-cards-body {
    width: fit-content;
}
.arrival-cards-body h5{
    text-align: center;
    color: #001f3f;
    font-weight: 500;
    font-size: 14px;
}
.arrival-cards-body p{
    text-align: left;
    color: #001f3f;
    font-size: 10px;
}

.arrival-cards-price{
  color:red;
  font-size: 16px;
  margin-top: -20%;
}

.btn-cart{
    border-radius: 5px;
    width: 50%;
    height: 30px;
    font-size: 10px;
    margin-top:-15%;
    
}


  
  .span-full {
    grid-column: span 4;
  }


 ul{
    list-style-type: none;
    text-align: center;
    text-decoration: none;

}
   ul li{

  
    text-align: center;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    justify-self: center;
    text-align: end;
    margin-left: 5%;

}

 ul li p{
    text-decoration: none;
     color:#001f3f;
    font-weight: 500;
    justify-content: space-between;
    justify-self: center;
    text-align: end;
    

}

ul li p::after{
  
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #001f3f;
  transition:  ease-in .3s;
  transform: center;
  margin: 0 auto; 
 color:#001f3f;
    
}

ul li p:hover::after{
  color: #001f3f;
  width: 100%;
  transition:ease .3s;
}

    
.vertical-line {
/* Adjust thickness and color as needed */
            height: 200px; /* Adjust height as needed */
            margin: 0 auto;
            width: 20px;
            position:absolute;
          
          }

          @media screen and (max-width: 400px) {
           
            
            .arrival-card-1{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
           
          @media screen and (max-width: 600px) and (min-width: 400px) {
                    .arrival-card-1 {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        height: 80%;  
                       place-items: center;
                       align-items: center;
                    }


          }

          @media screen and (max-width: 768px) and (min-width: 600px) {
            .arrival-card-1 {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                height: 80%;  
               place-items: center;
               align-items: center;
            }
            
          }

          @media screen and (max-width: 992px)  and (min-width: 768px) {
            .arrival-card-1 {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
            

          }

          }
        }