.category ul{
    display: flex;
    margin-top: 25%;
    margin-left: 60%;
  
}
 .category ul li{
    list-style: none;
   font-size: 16px;
   gap:30%;
   align-items: center;    
   font-weight: bolder;
   color:#001f3f;   
   
    

}

.category ul li::after{
    content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #001f3f;
  transition:  ease-in .3s;
  transform: center;
  margin: 0 auto; 
 color:#001f3f;

}

.category ul li:hover::after{
    color: #001f3f;
  width: 100%;
  transition:ease .3s;
}
.cat-card-1{
   
   padding: 2%;
   margin-top: -1%;

   align-items: center;
   background-color:#001f3f;
}

.cat-cards{
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   column-gap:2%;
   height: 120%;  
   place-items: center;
   align-items: center;
   border:#fb0e0e;
   margin-top: -1%;
   border-radius:10px;
   
}
.cat-card-img-top{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: 100%;
    z-index: -1;
    border-radius:10px;
}
.cat-card-title{
  
   text-align: center;
   z-index: 1;
   font-size: 20px;
   color: #ffffff;

   
}




.vertical-line{
   width: 2px;
   height: 100%;
   color: rgb(9, 9, 10);
   position: absolute;
   margin-left:4px ;
}
.cat-card:hover{
   cursor: pointer;

   border-radius: 10px;
   transition: all 0.3s ease ;
   transform: scale(1.01) ;
   transition: all 0.3s ease ;
   filter: drop-shadow(0 0 10px #0F0F2B);
   background-color:#ffffff;
   
}
.cat-card-title:hover{
    color:#001f3f;
   
}

@media screen and (max-width: 600px) {
   .cat-cards{
        display: grid;
      grid-template-columns: repeat(4, 1fr);

   }
   .cat-card-title{
       position: relative;
       margin-top: -20%;


   }
   
}


@media screen and (max-width: 400px) {
   .cat-cards{
        display: grid;
      grid-template-columns: repeat(2, 1fr);

   }
   .category ul{
       margin-left: 10%;
       margin-top: 20%;

   }
   .cat-card-title{
       position: relative;
       margin-top: -20%;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
   }
   .category ul li{
       font-size: 12px;
       
       gap: 10%;
   }



}

@media screen and (max-width: 600px) and (min-width: 400px) {
   .cat-cards{
        display: grid;
      grid-template-columns: repeat(4, 1fr);
   }
   .category ul{
       margin-left: 20%;
       margin-top: 20%;
   
   }
   .category ul li{
       font-size: 12px;
       
       gap: 10%;
   }
   } 

@media screen and (max-width: 800px) and (min-width: 600px) {
   .cat-cards{
        display: grid;
      grid-template-columns: repeat(4, 1fr);
   }
   .category ul{
       margin-left: 20%;
       margin-top: 20%;
   
   }
   .category ul li{
       font-size: 12px;
   
   }

}

@media screen and (max-width: 1200px) and (min-width: 800px) {
   .cat-card-1{
       margin-top: 0%;
       margin-left: 10%;
   }
   .cat-cards{
        display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
      justify-items: center;
      margin-left:20% ;
   }
   .category ul{
       margin-left: 20%;
       margin-top: 20%;
   
   }
   .category ul li{
       font-size: 12px;
   }
   .cat-card-title{
       position: relative;
       margin-top: -30%;
   }
   .cat-card-img-top{
       width: 100%;
       aspect-ratio: 1/1;
       object-fit: 100%;
       z-index: -1;
   }
   

}
