
.contact-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease;
  }
  
  .contact-icon-container.hidden {
    opacity: 0;
  }
  
  .contact-icon-button {
    background-color: #001f3f;
    border: none;
    color: #fff;
    border-radius: 50%;

    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-icon-info {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  
    margin-left: 10px; /* Space between icon and info box */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0; /* Aligns with the bottom of the button */
    right: 100%; /* Positions it to the left of the button */
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap; /* Prevents text from wrapping */
        
}
.contact-icon-info p{
    margin: 0;
    text-align: center;
  
    position: relative;
}