.footer-start{
  margin-top: 20%;
}

.footer-social span{
  color: #ffffff;
}

.footer-social Link{
  color: #ffffff;
}

.bi-facebook{
   color: #ffffff;
}

.bi-instagram{
  color: #ffffff;
}
.bi-google{
  color: #ffffff;
}
.bi-twitter{
  color: #ffffff;
}

.footer-brand h6{
  color: #ffffff;
}
.footer-brand p{
  color: #ffffff;
}

.footer-links{
  color: #ffffff;
}
.footer-links p{
      text-align: right;
      margin-right: 40%;
      color:#ffffff;

}

.footer-info{
  color: #ffffff;
}
.footer-address{
  color: #ffffff;
}
.footer-address p{
  color: #ffffff;
}

.footer-end{
  color:#ffffff;
}

.footer-end p{
    color: #ffffff;
}