.container-fluid-pro{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: space-between;
  margin-top: -2%;
  
  
  
}

.productpro{
  display: flex;
    flex-wrap: wrap;
    justify-content: left;
    justify-items: space-between;
    margin-top: -2%;
    
    
}
 h2{
    
           padding:2% ; 
      justify-content: center;
      text-align: left;
      font-size: 30px;
     font-weight: 500;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
 } 

 .product-cards-pro{
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   column-gap:1%;
   row-gap:1%;
    
   height: 130%;
   width: 100%;
   padding: 1%;
   place-items: left;
   align-items: left;
   margin-top: 5%;
   margin-bottom:30%;
   
   
 }

 .product-card{
   width: 100%;
    border-radius: 5%;
    background-color: #001f3f;
    box-shadow: 0 0 10px #001f3f;
    filter: box-shadow(0 0 10px #001f3f);
    height: 100%;
    margin-top: 5%;
   justify-content: center;

   colr:#FFFFFF;
  
 }

 .product-card-img-top{
   width: 100%;
  aspect-ratio: 1/1;
  object-fit: 100% ;
  border-radius:5%;
 }

 .product-card-body{
   padding: 10px;
   text-align: center;
   color:#FFFFFF;
 }

 .product-card-body h5{
   font-weight: 500;
   font-size: 14px;
 }

 .product-card-body p{  
   font-size: 12px;
 }

 .product-card-body .detaprice{
   color: #FFFFFF;
 }

 .product-card:hover{
   transform: scale(1.05);
   transition: all 0.3s ease;
   cursor: pointer;
   background-color: #001f3f;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 } 


 @media screen and (max-width: 600px) {
   .product-cards-pro{  
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     width: 100%; 

     
   };
   .product-card{
     width: 100%;
     background-color: rgb(253, 253, 253);
     height: 100%;
     justify-content: center;
      
   }
  
 }

 @media screen and (max-width: 400px) {
   .product-cards-pro{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     width: 100%;
     
   }
  
 }