
.navi{
    gap:10%;
    width: 100%;
    justify-content: center;
    justify-items: space-between;
    text-align: center;
    align-items: center;
    color: rgb(22, 2, 63);
}
.navi .nav-link{
     color: rgb(43, 4, 97);
    border-radius: 30px;
      font-weight: bold;
      font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
     justify-items: space-between;
    text-align: center;
    align-items: center;
}

.navi .nav-link:hover{
  
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease ;
    transform: scale(1.01) ;
    background-color: #8697C4;
    color: #122669
}

@media screen and (max-width: 968px) {
    .navi{
        align-items: start;
    }
    
}