.nav-links{
  margin-left:-30% ;
color: blue;
align-items: left;
}
.nav-links:hover{
    color: #FFFFFF;
   
   
    
}
 
.nav-links::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition:  ease-in .3s;
    transform: center;
    margin: 0 auto; 
    color:#FFFFFF;
    
}
.nav-links:hover::after{
    color: aliceblue;
    width: 100%;
    transition:ease .3s;

}
Nav.Dropdown  ::title{
    color: #FFFFFF;
  
}




@media screen and (max-width: 400px) {
    .navi{
        text-align: start;
    }
    Nav.Link{
        text-align: left;
    }
    .nav-links{
        margin-left:5% ;
    }
    .nav-links:hover::after{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #FFFFFF;
        transition:  ease-in .3s;
        transform: center;
        margin: 0 auto; 
        color:#FFFFFF;
        
    }
}

@media screen and (max-width: 600px) {
    .navi{
        text-align: start;
    }
    Nav.Link{
        text-align: left;
    }
    
}