
 
 .nav-link:hover{
    color: #FFFFFF;
   
   
    
}
 
.nav-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition:  ease-in .3s;
    transform: center;
    margin: 0 auto; 
    color:#FFFFFF;
    
}

.nav-link:hover::after{
    color: aliceblue;
    width: 100%;
    transition:ease .3s;
}

@media screen and (max-width: 968px) {
    .navi{
        align-items: start;
    }
    .nav-link{
        align-items: start;
    }
    
}

@media screen and (max-width: 400px) {
    .navi{
        text-align: start;
    }
    .nav-link{
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .navi{
        text-align: start;
    }
    .nav-link{
        text-align: left;
    }
    
}