.sidebar {
    position: absolute;
    top: 210px;
    left: 0;
    bottom: 0;
    width: 220px;
    border-right: 2px solid #eee;
    padding: 10px 30px;
    overflow: auto;
  }
  
  .filter-type label {
    font-size: 14px;
    cursor: pointer;
  }
  
  input[name="filter-type"] {
    display: none;
  }
  
  input[name="filter-type"]:checked~ul {
    max-height: 300px;
  }
  
  .filter-type ul {
    list-style: none;
    padding-left: 0;
    max-height: 0;
    overflow: hidden;
  }
  
  .filter-type ul li {
    line-height: 30px;
    color: #001F3F;
  }
  h6{
    font-size: 30px;
    font-weight: bolder;
    color: #001F3F;
  }
 
.samples{
  
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 20px;
  color: #001F3F;
}
.samples li{
  line-height: 30px;
  color: #001F3F;
  font-size:10px;

  list-style: circle rgb(8, 8, 8);
  list-style-type: circle;
  
}
.samples a{
  text-decoration:dotted;
   color: #001F3F;
  list-style:circle ;
  
}
.cat-name a{
  font-size: 14px;
  font-weight: bolder;
}
.cat-name a:hover{  
  background-color: #001F3F;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
}
h4{
  font-size: 20px;
 font-weight: bolder;
 color: #001F3F;
 }

 @media screen and (max-width: 400px) {
   .sidebar {
 
     display: none;
   }
 }

 @media screen and (max-width: 600px) {
   .sidebar {
 
     display: none;
   }  
 }