.container {
    margin-top: 5%;
  }
  
  .signup-description {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .form-container {
    margin-top: 5%;
    width: 100%;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .form-group {
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
  
  .form-label {
    font-weight: bold;
    color: #001F3F;
  }
  
  .form-control {
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;  

  }
  
  .image-preview {
    margin-top: 10px;
  }
  
  .stepper-buttons {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 70%;
  }
  
  .stepper-button {
    color: #FFFFFF;
    width: 100px;
    background-color: #001F3F;
    border-radius: 10px;
    border-color: #FFFFFF;
    border: 1px solid white;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .stepper-button:hover {
    color: #FFFFFF;
    background-color: #001F3F;
    border-color: #FFFFFF;
    border: 1px solid white;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  @media screen and (max-width: 800px) {
    .row {
      flex-direction: column;
    }

    .form-container {
      width: 100%;
      margin: auto;
      justify-content: center;
      border-radius: 10px;
      border: 1px solid white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      
    
  
    }
      .form-group {
        width: 100%;
        margin: auto;
        margin-top: 10px;
      }
      .stepper-buttons {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        gap: 40%;
      }
}