/* topheader.css */
.bi-search{
  color: white;
}
.navbar-brand {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .searchbar {
    border: none;
    font-size: 16px;
    background-color: #001F3F;
   
    border-radius: 1px 0 0 5px solid #ffffff;
    width: 60%;
    

    padding: 10px 20px;
    outline: none;
    transition: box-shadow 0.3s;
  }
  
  .searchbar:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .searchbar ::placeholder {
    font-size: 16px;
    color: #ffffff;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  .search-btn {
    color: white;
  
    background-color:#ffffff;
    border: none;
    font-size: 16px;
    padding: 10px;

    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    margin-left: 62%;
    width: 7%;
  }
  
  .search-results {
    position: absolute;
    top: 60px;
    width: 70%;
    background-color: white;
    border: 1px solid #ccc;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  
  .search-results li {
    padding: 10px;
    cursor: pointer;
  }
  
  .search-results li:hover {
    background-color: #f1f1f1;
  }
  
  
  .bi-cart,
  .bi-person-circle {
    font-size: 30px;
    color: white;
    cursor: pointer;
   
  }
  
  .bi-cart:hover,
  .bi-person-circle:hover {
    color: #ccc;
  }

  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .search-btn {
      margin-left: 55%;
     width: 12%;
      position: absolute;

    }
  }
  @media screen and (max-width: 600px) {
    .navbar-brand {
      font-size: 20px;
    }

    .searchbar {
      font-size: 14px;
    }
    .search-btn {
      margin-left: 10%;
      width: 12%;
      position: absolute; 
    }
    
  }
  @media screen and (max-width: 400px) {
    .navbar-brand {
    display: none;
  }
  .searchbar {
    

 }
 .search-btn {
   margin-left: 12%;
   width: 20%;
   position: absolute;

 }

  
}

@media screen and (min-width: 360px) {
 
  .searchbar {
    width:70%;
    margin-right: 40%;
}
.search-btn{
  margin-left:500px; 
  position: absolute;   
    
}
}